<%- include("partials/header.ejs") %>
<body>
    <div class="container mt-5 mb-5 d-flex flex-column main-div">
        <div class="container-fluid p-5">
            <div class="row ">
                <div class="col-10">
                    <h1>Book Notes</h1>
                    <p>Welcome to BookNotes where you can store the books you have read, your rating and notes for that book</p>
                    <p>Sort by: <a href="/sort/">Title</a> <a href="/sort/">Rating</a> <a href="/sort/">Newest</a></p>
                </div>
                <!-- Button for adding a new Entry -->
                <div class="col-2 d-flex justify-content-center align-items-center"> 
                    <a href="/add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-plus-circle-fill add-icon" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                    </a>   
                </div>   
            </div>
        </div>

        <div class="container-fluid mb-5">
            <hr>
            <div class="row">
                <div class="col-4">
                    <img src="https://covers.openlibrary.org/b/isbn/0806541229-L.jpg" class="rounded book-cover">
                </div>
                <div class="col-8">
                    <h2>TITLE OF BOOk adasdasdasdasdasddasdasdasdad</h2>
                    <p>by <em>authorsdasdasdasd</em></p>
                    <p>Date read | my rating</p>
                    <pre>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas, magna rhoncus imperdiet facilisis, orci augue pretium quam, pharetra tempus ipsum ante in sem. Sed a volutpat est. Aenean eros nibh, sodales sed leo vel, ultrices gravida lectus. Praesent luctus diam a iaculis suscipit. Nullam vulputate quis lectus ac egestas. Phasellus placerat aliquet nunc, eu facilisis est facilisis et. Etiam erat orci, eleifend a egestas quis, molestie vel enim. Cras eget purus placerat, cursus lorem et, euismod mauris. Praesent sit amet nisl dignissim, ornare metus ac, egestas nisl.

    Maecenas fringilla purus vitae gravida scelerisque. Praesent elementum facilisis diam et auctor. Nam efficitur erat a ante convallis ornare. Donec sit amet felis et lacus finibus fringilla aliquet ac nunc. Sed cursus sed sapien sed convallis. Proin venenatis sem magna, quis ultricies tellus tincidunt eu. Duis faucibus nulla velit, ac pellentesque orci elementum at. Aliquam efficitur turpis sed est mollis interdum. Phasellus augue dui, rhoncus vel felis eget, blandit vestibulum quam. Sed eleifend fermentum fringilla. M
                    </pre>
                    <a href="/view">View my Notes</a>          
                </div>
            </div>
        </div>
    </div>    
</body>
<%- include("partials/footer.ejs") %>