body{
    color: #EEEEEE;
    background-color: #222831;
}
.main-div{
    background-color: #31363F; 
    width: 80vw; 
    height:100vh;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;

}
a{
    color: #76ABAE;
}
pre{
    white-space: pre-wrap;
}
.icons{
    color: #222831;
}
.bi-pencil-square:hover{
    color: #76ABAE;
}
.bi-trash:hover{
    color: #76ABAE;
}