::selection      { color: #EEEEEE;  background: #76ABAE; } 
body{
    color: #EEEEEE;
    background-color: #222831;
}
.main-div{
    background-color: #31363F; 
    width: 80vw; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;

}
a{
    color: #76ABAE;
}
pre{
    white-space: pre-wrap;
}
.icons{
    color: #222831;
}
.bi-pencil-square:hover{
    color: #76ABAE;
}
.bi-trash:hover{
    color: #76ABAE;
}

.add-icon{
    color: #76ABAE;
}
.bi-plus-circle-fill:hover{
    color: #EEEEEE;
}
.bi-star-fill{
    color: #EEEEEE;
}
.selected{
    color: #76ABAE;
}
.bi-star-fill:hover{
    color: #76ABAE;
}
input[type="text"], textarea[type="text"]{
    background-color: #EEEEEE;
    border: #EEEEEE;
}
ul{
    list-style-type: none;
    background-color: #EEEEEE;
}
.contrast-text{
    color: #222831;
}
li:hover{
    background-color: #76ABAE;
    color: #EEEEEE;
}
.btn-primary{
    background-color: #76ABAE;

    --bs-btn-bg: #76ABAE !important;
    --bs-btn-border-color: #76ABAE !important;
    --bs-btn-hover-bg: #EEEEEE !important;
    --bs-btn-hover-border-color: #EEEEEE !important;
    --bs-btn-hover-color: #222831 !important;
    --bs-btn-active-bg: #76ABAE !important;
    --bs-btn-active-border-color: #76ABAE !important;
    --bs-btn-disabled-bg: #76ABAE !important;
    --bs-btn-disabled-border-color: #76ABAE !important;
}


